div.contentBox{
	max-width: 100%;
	background: rgba(00, 00,00, .9);
	padding: 5px;
	color:#FFFFFF;
	font-family:sans-serif;
	margin-top:20px;
}
div.whiteSpace{
	display:flex;
	max-width: 100%;
	height: auto;
	align-items: center;
	background-color: #FFFFFF;
	padding: 5px;
	font-family:sans-serif;
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	white-space:nowrap;
	overflow:hidden;
}
li
{
	float:center;
	background-color:#000000;
	display:inline-block;
	max-width: 100%;
}
li:hover{
	background-color:#505050;
}
a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	padding:10px;
	text-decoration:none;
	text-transform:uppercase;
}
p.sponsorText{
	position:absolute;
	left:570px;
}
